*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
@media screen and (min-width: 1690px) {
    .header{
        padding: 0 356px 0 354px;
        box-sizing: border-box;
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .header_left{
        display: flex;
        align-items: center;
    }
    .header_left .header_icon {
        position: relative;
    }
    .header_icon .iconTop{
        position: absolute;
        top: 0;
        left: 0;
    }
    .header_right{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .header_rightTitle{
        margin-top: 12px;
    }
    .header_right_bottom{
        display: flex;
    
    }
    .shopCreate,.shopList{
        margin-left:25px ;
    }
    .shopCart{
        display: flex;
    }
    .shopNumber{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #ffe5e5;
        text-align: center;
    }
    .header_right_bottom i{
        margin-right: 10px;
    }
    .shopNumber{
        margin-left: 8px;
    }
    
    .menu{
        background-color: #232323;
        height: 45px;
        color: white;
        padding: 0 356px 0 354px;
        
    }
    .menu ul{
        display: flex;
        list-style-type: none;
        line-height: 45px;
    }
    .menu ul li {
        margin-right: 41px;
    }
    .poster{
        position: relative;
    }
    .poster_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        position: absolute;
        top: 313px;
        left: 380px;
    }
    .poster_text .poster_title h1{
        font-size: 40px;
        font-weight: bold;
    }
    .poster_text .poster_title img{
        width: 40px;
        height: 2px;
        margin-left: 110px;
    }
    .poster_text p{
        text-align: center;
        font-size: 12px;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    .poster_text button{
        padding: 18px 0;
        width:  194px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        border: none;
        outline: none;
        background-color: #232323;
    }
    .poster img{
        width: 100%;
    }
    
    .content{
        margin-top: 39px;
        padding: 0 356px 0 354px;
    }
    .content_header img:nth-child(-n+2){
        margin-right: 37px;
    }
    .content_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        position: relative;
        margin-bottom: 20px;
    }
    .content_title h2{
        font-weight: bold;
        font-size: 20px;
    }
    .content_title h2::before{
        content: "";
        position: absolute;
        width: 370px;
        border: 1px solid black;
        left: 0;
        top: 25%;
    }
    
    .content_title h2::after{
        content: "";
        position: absolute;
        width: 370px;
        border: 1px solid black;
        right: 0;
        top: 25%;
    }
    .content_product{
        display: flex;
    }
    .content_title p {
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 35px;
    }
    .content_items{
        font-size: 12px;
        width: 270px;
        margin-right: 37px;
        position: relative;
    }
    
    .content_items .product_title{
        color: #ababab;
    }
    
    .product_text {
        text-align: center;
    }
    .product_text .product_title{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .product_name,.product_price{
        font-weight: bold;
        margin-bottom: 18px;
    }
    .product_price{
        font-size: 14px;
    }
    .product_color{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product_color p{
        margin-right: 5px;
    }
    .product_color .product_colorPurple{
        width: 27px;
        height: 27px;
        background-color: #4b6cc0;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorBlack{
        width: 27px;
        height: 27px;
        background-color: #494949;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorGrey{
        width: 27px;
        height: 27px;
        background-color: #e8e8e8;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorGreen{
        width: 27px;
        height: 27px;
        background-color: #13c89c;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorYellow{
        width: 28px;
        height: 28px;
        background-color: #fff100;
        border-radius: 50%;
        border: 2px solid #f1f1f1;
    }
    .product_color .product_colorWhite{
        width: 27px;
        height: 27px;
        background-color: white;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .content_items .content_icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    .content_button{
        margin-top: 60px;
        padding: 12px 101px;
        margin-left: 40%;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 70px;
    }
    .gallery{
        height: 525px;
        background-color: #fafafa;
        padding: 0 356px 0 354px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .gallery_title{
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    .gallery_title img{
        margin-right: 15px;
    }
    .gallery p {
        margin-top: 21px;
        margin-bottom: 42px;
        font-size: 12px;
    }
    .gallery_picture{
        position: relative;
    }
    .gallery_picture img {
        margin-right: 5px;
    }
    .gallery_picture .arrow_left{
        position: absolute;
        top: 40%;
        left: -18px;
    }
    .gallery_picture .arrow_right{
        position: absolute;
        top: 40%;
        right: -18px;
    }
    .gallery_button{
        margin-top: 30px;
        padding: 17px 22px;
        width: 230px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        background-color: #232323;
        color: white;
        border: none;
        outline: none;
    }
    .footer{
        background-color: #232323;
        height: 458px;
        padding: 0 356px 0 354px;
        color: #cfcfcf;
        font-size: 12px;
        
    }
    .footer_top{
        height: 329px;
        display: flex;
        justify-content: space-around;
    }
    .footer ul li{
        margin-bottom: 14px;
        text-align: left;
    }
    .footer_top ul li:first-child{
        font-size: 14px;
        color: white;
        font-weight: bold;
        margin-top: 34px;
        margin-bottom: 25px;
    }
    .footer_submit{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer_submit input{
        width: 288px;
        height: 44px;
        padding-left: 15px;
        background-color: inherit;
        border: 1px solid #ababab;
        margin-right: 10px;
    }
    .footer_submit button{
        height: 45px;
        padding: 18px 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .footer_icon img{
        margin-top: 35px;
        margin-right: 15px;
    }
    .footer_bottom{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_bottom p {
        margin-left: 46px;
        width: 360px;
    }
}

@media screen and (max-width:768px){
    .header{
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .header_left{
        margin-left: 5px ;
        display: flex;
        align-items: center;
    }
    .header_left .header_icon {
        position: relative;
    }
    .header_icon .iconTop{
        position: absolute;
        top: 0;
        left: 0;
    }
    .header_right{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .header_rightTitle{
        margin-top: 12px;
    }
    .header_right_bottom{
        display: flex;
    
    }
    .shopCreate,.shopList{
        margin-left:25px ;
    }
    .shopCart{
        display: flex;
    }
    .shopNumber{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #ffe5e5;
        text-align: center;
    }
    .header_right_bottom i{
        margin-right: 10px;
    }
    .shopNumber{
        margin-left: 8px;
    }
    
    .menu{
        background-color: #232323;
        height: 45px;
        color: white;
        
    }
    .menu ul{
        display: flex;
        list-style-type: none;
        line-height: 45px;
    }
    .menu ul li {
        margin-left: 5px;
        margin-right: 10px;
    }
    .poster{
        position: relative;
    }
    .poster_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:200px;
        position: absolute;
        top: 40px;
        left: 80px;
    }
    .poster_text .poster_title h1{
        font-size: 20px;
        font-weight: bold;
    }
    .poster_text .poster_title img{
        width: 40px;
        height: 2px;
        margin-left: 40%;
    }
    .poster_text p{
        text-align: center;
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    .poster_text button{
        padding: 10px 0;
        width:  194px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        border: none;
        outline: none;
        background-color: #232323;
    }
    .poster img{
        width: 100%;
    }
    
    .content{
        margin-top: 20px;
    }
    .content_header img{
        width: 250px;
        margin-right: 5px;
    }
    .content_header{
        display: flex;
        align-items: center;
    }
    .content_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        position: relative;
        margin-bottom: 20px;
    }
    .content_title h2{
        font-weight: bold;
        font-size: 20px;
    }
    .content_title h2::before{
        content: "";
        position: absolute;
        width: 270px;
        border: 1px solid black;
        left: 0;
        top: 15%;
    }
    
    .content_title h2::after{
        content: "";
        position: absolute;
        width: 270px;
        border: 1px solid black;
        right: 0;
        top: 15%;
    }
    .content_product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .content_title p {
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 35px;
    }
    .content_items{
        font-size: 12px;
        width: 270px;
        margin-right: 37px;
        position: relative;
    }
    
    .content_items .product_title{
        color: #ababab;
    }
    
    .product_text {
        text-align: center;
    }
    .product_text .product_title{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .product_name,.product_price{
        font-weight: bold;
        margin-bottom: 18px;
    }
    .product_price{
        font-size: 14px;
    }
    .product_color{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product_color p{
        margin-right: 5px;
    }
    .product_color .product_colorPurple{
        width: 27px;
        height: 27px;
        background-color: #4b6cc0;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorBlack{
        width: 27px;
        height: 27px;
        background-color: #494949;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorGrey{
        width: 27px;
        height: 27px;
        background-color: #e8e8e8;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorGreen{
        width: 27px;
        height: 27px;
        background-color: #13c89c;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorYellow{
        width: 28px;
        height: 28px;
        background-color: #fff100;
        border-radius: 50%;
        border: 2px solid #f1f1f1;
    }
    .product_color .product_colorWhite{
        width: 27px;
        height: 27px;
        background-color: white;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .content_items .content_icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    .content_button{
        margin-top: 40px;
        padding: 12px 91px;
        margin-left: 30%;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 70px;
    }
    .gallery{
        background-color: #fafafa;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .gallery_title{
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    .gallery_title img{
        margin-right: 15px;
    }
    .gallery p {
        margin-top: 21px;
        margin-bottom: 42px;
        font-size: 12px;
    }
    .gallery_picture{
        position: relative;
    }
    .gallery_picture img {
        margin-right: 5px;
        margin-left: 8px;
    }
    .gallery_picture .arrow_left{
        position: absolute;
        top: 45%;
        left: -8px;
    }
    .gallery_picture .arrow_right{
        position: absolute;
        top: 45%;
        right: -18px;
    }
    .gallery_button{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 17px 22px;
        width: 230px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        background-color: #232323;
        color: white;
        border: none;
        outline: none;
    }
    .footer{
        background-color: #232323;
        padding: 0 30px;
        color: #cfcfcf;
        font-size: 12px;
        height: 450px;
        
    }
    .footer_top{
        height: 329px;
        display: flex;
        justify-content: space-around;
    }
    .footer ul li{
        margin-bottom: 10px;
        text-align: left;
    }
    .footer_top ul li:first-child{
        font-size: 14px;
        color: white;
        font-weight: bold;
        margin-top: 34px;
        margin-bottom: 25px;
    }
    .footer_submit{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer_submit input{
        width: 200px;
        height: 44px;
        padding-left: 15px;
        background-color: inherit;
        border: 1px solid #ababab;
        margin-right: 10px;
    }
    .footer_submit button{
        height: 45px;
        padding: 18px 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .footer_icon img{
        margin-top: 35px;
        margin-right: 15px;
    }
    .footer_bottom{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_bottom p {
        width: 360px;
    }
}

@media screen and (min-width:769px ) and (max-width: 1689px) {
    .header{
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .header_left{
        margin-left: 5px ;
        display: flex;
        align-items: center;
    }
    .header_left .header_icon {
        position: relative;
    }
    .header_icon .iconTop{
        position: absolute;
        top: 0;
        left: 0;
    }
    .header_right{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .header_rightTitle{
        margin-top: 12px;
    }
    .header_right_bottom{
        display: flex;
    
    }
    .shopCreate,.shopList{
        margin-left:25px ;
    }
    .shopCart{
        display: flex;
    }
    .shopNumber{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #ffe5e5;
        text-align: center;
    }
    .header_right_bottom i{
        margin-right: 10px;
    }
    .shopNumber{
        margin-left: 8px;
    }
    
    .menu{
        background-color: #232323;
        height: 45px;
        color: white;
        
    }
    .menu ul{
        display: flex;
        list-style-type: none;
        line-height: 45px;
    }
    .menu ul li {
        margin-left: 5px;
        margin-right: 10px;
    }
    .poster{
        position: relative;
    }
    .poster_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:200px;
        position: absolute;
        top: 40px;
        left: 80px;
    }
    .poster_text .poster_title h1{
        font-size: 20px;
        font-weight: bold;
    }
    .poster_text .poster_title img{
        width: 40px;
        height: 2px;
        margin-left: 40%;
    }
    .poster_text p{
        text-align: center;
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    .poster_text button{
        padding: 10px 0;
        width:  194px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        border: none;
        outline: none;
        background-color: #232323;
    }
    .poster img{
        width: 100%;
    }
    
    .content{
        margin-top: 20px;
    }
    .content_header img{
        width: 35%;
        margin-right: 5px;
    }
    .content_header{
        display: flex;
        align-items: center;
    }
    .content_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        position: relative;
        margin-bottom: 20px;
    }
    .content_title h2{
        font-weight: bold;
        font-size: 20px;
    }
    .content_title h2::before{
        content: "";
        position: absolute;
        width: 270px;
        border: 1px solid black;
        left: 0;
        top: 15%;
    }
    
    .content_title h2::after{
        content: "";
        position: absolute;
        width: 270px;
        border: 1px solid black;
        right: 0;
        top: 15%;
    }
    .content_product{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .content_title p {
        font-size: 12px;
        text-decoration: underline;
        margin-bottom: 35px;
    }
    .content_items{
        font-size: 12px;
        width: 270px;
        margin-right: 37px;
        position: relative;
    }
    
    .content_items .product_title{
        color: #ababab;
    }
    
    .product_text {
        text-align: center;
    }
    .product_text .product_title{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .product_name,.product_price{
        font-weight: bold;
        margin-bottom: 18px;
    }
    .product_price{
        font-size: 14px;
    }
    .product_color{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product_color p{
        margin-right: 5px;
    }
    .product_color .product_colorPurple{
        width: 27px;
        height: 27px;
        background-color: #4b6cc0;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorBlack{
        width: 27px;
        height: 27px;
        background-color: #494949;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorGrey{
        width: 27px;
        height: 27px;
        background-color: #e8e8e8;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorGreen{
        width: 27px;
        height: 27px;
        background-color: #13c89c;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .product_color .product_colorYellow{
        width: 28px;
        height: 28px;
        background-color: #fff100;
        border-radius: 50%;
        border: 2px solid #f1f1f1;
    }
    .product_color .product_colorWhite{
        width: 27px;
        height: 27px;
        background-color: white;
        border-radius: 50%;
        border: 3px solid #f1f1f1;
    }
    .content_items .content_icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
    .content_button{
        margin-top: 40px;
        padding: 12px 91px;
        margin-left: 30%;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 70px;
    }
    .gallery{
        background-color: #fafafa;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .gallery_title{
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    .gallery_title img{
        margin-right: 15px;
    }
    .gallery p {
        margin-top: 21px;
        margin-bottom: 42px;
        font-size: 12px;
    }
    .gallery_picture{
        position: relative;
    }
    .gallery_picture img {
        margin-right: 5px;
        margin-left: 8px;
    }
    .gallery_picture .arrow_left{
        position: absolute;
        top: 45%;
        left: -8px;
    }
    .gallery_picture .arrow_right{
        position: absolute;
        top: 45%;
        right: -18px;
    }
    .gallery_button{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 17px 22px;
        width: 230px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        background-color: #232323;
        color: white;
        border: none;
        outline: none;
    }
    .footer{
        background-color: #232323;
        padding: 0 30px;
        color: #cfcfcf;
        font-size: 12px;
        height: 450px;
        
    }
    .footer_top{
        height: 329px;
        display: flex;
        justify-content: space-around;
    }
    .footer ul li{
        margin-bottom: 10px;
        text-align: left;
    }
    .footer_top ul li:first-child{
        font-size: 14px;
        color: white;
        font-weight: bold;
        margin-top: 34px;
        margin-bottom: 25px;
    }
    .footer_submit{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer_submit input{
        width: 200px;
        height: 44px;
        padding-left: 15px;
        background-color: inherit;
        border: 1px solid #ababab;
        margin-right: 10px;
    }
    .footer_submit button{
        height: 45px;
        padding: 18px 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .footer_icon img{
        margin-top: 35px;
        margin-right: 15px;
    }
    .footer_bottom{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_bottom p {
        width: 360px;
    }
}